@import "tailwindcss";
@import 'antd/dist/reset.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

.perspective {
  perspective: 1200px;
}
/* Custom Modal OK button */
.custom-modal .ant-btn-primary {
  background-color: #b1681b !important;
  border-radius: 12px !important;
  font-weight: 600 !important;
  padding: 8px 22px !important;
  border: none !important;
  box-shadow: 0 2px 8px rgba(177, 104, 27, 0.3);
  transition: 0.3s ease-in-out;
}

.custom-modal .ant-btn-primary:hover {
  background-color: #8c5316 !important;
  transform: translateY(-2px);
}


.flip-card {
  width: 655px;
  height: 174px; /* FIX */
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
}

.flip-back {
  transform: rotateY(180deg);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
